<?xml version="1.0" encoding="UTF-8"?>

<widget id="nl.x-services.plugins.flashlight" version="1.4.1">
        <name>Flashlight</name>
        <description>
            Turns flashlight on and off.
        </description>
        <author email="Faraz7704@gmail.com" href="http://phonegap.com">
            FK rokin
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
    </widget>
